$bodyBg: rgba(#ffffff, 0.53);
$headerH1Text: #030202;
$headerH2Text: #000000;
$containerBg: rgb(255, 255, 255);
$textColour: #000000;
$textBg: #030202;
$footerBg: #ffffff;
$footerText: #000000;
$imgBorder: #707070;
$imgBg: #efefef;
$quoteBorder: #cfcfcf;
$postBottom: #e0e0e0;
$searchBorder: #cfcfcf;
$jumboBg: #ffffff;
$jumboText: #010101;
$lineBg: #808080;
$lineColour: #d1d9e1;
$kbdColour: #333;
$kbdText: #000000;
$shadow: rgba(0,0,0,.25);
// navbar stuff
$bgDefault      : #ffffff;
$bgHighlight    : #f2e1df;
$colDefault     : #000000;
$colHighlight   : #332f2f;
