<!-- <div class="col-md-4"> -->
    <!-- <h1>Recent Posts</h1>
    {{#each recent_posts}}
    <p><a href="{{ this.path }}">{{capitalize this.meta.title}}</a></p>
    {{/each}} -->
    <!-- {{#if data.github}}<section id="github-profile"> -->
    <!-- </section> -->
    <div class = "sidebar-module sidebar-module-inset">
      <div class = "bd-toc-item">
        <h3><a class = "bd-toc-link" href = "http://github.com/weinstockj">My github</a></h3>
      </div>
    </div>
    <!-- {{/if}} -->
<!-- </div> -->
